/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/colors";
@import "base/typography"; 

/*----------  components
------------------------------------------------------------------------------*/
@import "components/buttons";

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/footer";    
 
body {
    box-sizing: border-box;
    background-color: $bg_color_neutral;
    min-height: 100vh;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
h1 {
    visibility: hidden;
    position: fixed;
    z-index: 0;
}
.cards-container {
    border-radius: 5px;
    overflow: hidden;
    // width: 920px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    max-width: 310px;
    flex: 1 1 310px;
    // padding: 48px 50px;
}
.card:nth-of-type(1) {
    background-color: $bg_color_1;    
}
.card:nth-of-type(2) {
    background-color: $bg_color_2;    
}
.card:nth-of-type(3) {
    background-color: $bg_color_3;    
}
.card-item {
    margin-left: 50px;
    margin-right: 50px;
}
.icon-container.card-item {
    margin-top: 48px;
}
.btn-wrapper.card-item {
    margin-bottom: 48px;
}
.icon-container {
    height: 40px;
    margin-bottom: 40px;
}
img {
    height: 100%;
}
h2 {
    font-size: $fsize_heading;
    color: $text_color_lvl_2;
    font-family: $ffamily_accent;
    text-transform: uppercase;
    margin-bottom: 30px;
}
p {
    font-size: $fsize_paragraph;
    color: $text_color_lvl_1;
    font-family: $ffamily_primary;
    margin-bottom: 26px;
    line-height: 26px;
}