/*----------  base
------------------------------------------------------------------------------*/
@import "base/reset";
@import "base/variables";
@import "base/typography"; 

/*----------  components
------------------------------------------------------------------------------*/
@import "components/buttons";

/*----------  layout
------------------------------------------------------------------------------*/
@import "layout/footer";    
 
body {
    box-sizing: border-box;
    background-color: $color_neutral;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px 0px 0px 0px;
}
h1 {
    visibility: hidden;
    position: fixed;
    z-index: 0;
}
.cards-container {
    border-radius: 8px;
    overflow: hidden;
    max-width: 918px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // margin: auto 0;
}
.card {
    min-height: 500px;
    max-width: 306px;
    flex: 1 1 306px;
    display: flex;
    flex-flow: column nowrap;
}
.card:nth-of-type(1) {
    background-color: $color_1;
    // border-top-left-radius: 8px;    
    // border-bottom-left-radius: 8px;    
}
.card:nth-of-type(2) {
    background-color: $color_2;    
}
.card:nth-of-type(3) {
    background-color: $color_3; 
    // border-top-right-radius: 8px;    
    // border-bottom-right-radius: 8px;   
}
.card-item {
    padding-left: 48px;
    padding-right: 48px;
}
.icon-container.card-item {
    padding-top: 48px;
}
.btn-wrapper.card-item {
    padding-bottom: 48px;
    margin-top: auto;
}
.icon-container {
    height: 40px;
    margin-bottom: 40px;
}
img {
    height: 100%;
}
h2 {
    color: $text_color_lvl_1;
    text-transform: uppercase;
    margin-bottom: 30px;  
}  
p {
    color: $text_color_lvl_1;      
}

@media screen and (max-width: 950px) {
    body {
        padding: 88px 24px 88px 24px;
    }
    .card {       
        max-width: 100%; 
        min-height: 442px;       
    }
}
@media screen and (max-width: 700px) {
    
    .cards-container { 
        max-width: 327px;      
        flex-direction: column;
        
    }
}