// ----- Font family-----
$ffamily_primary: 'Lexend Deca';
$ffamily_accent: 'Big Shoulders Display';

// ----- Font size-----
$fsize_paragraph: 15px;
$fsize_heading: 38px;


// ----- Background color-----
$color_neutral: hsl(0, 0%, 95%);
$color_1: hsl(31, 77%, 52%);
$color_2: hsl(184, 100%, 22%);
$color_3: hsl(179, 100%, 13%);

// ----- Text color-----
// paragraphs
$text_color_lvl_1:hsla(0, 0%, 100%, 0.75);

// ----- Break points -----
$small: 375px;
$large: 1440px;
